<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>
        Cuba Portal
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/favicon.ico}"/>
    <link rel="icon" type="image/gif" th:href="@{/resources/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/css/common.css}"/>
</head>
<body>

<h1> Cuba Portal </h1>
<div sec:authorize="isAuthenticated()">
    User: <span sec:authentication="name">Username</span>
    <br/>
    <form method="post" action="logout" id="logoutForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
    </form>
    <a th:href="@{/}">Home</a>
</div>

<div sec:authorize="isAnonymous()">
    <a href="login">Login</a>
</div>

<div sec:authorize="isAuthenticated()">
    <h1>Session editor</h1>
    <form action="#" th:action="@{/saveSession}" th:object="${sessionDto}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <p>Topic: <input type="text" th:field="*{topic}"/></p>
        <p>Start Date: <input type="text" th:field="*{startDate}"/></p>
        <p>Duration: <input type="text" th:field="*{duration}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>